.dialogo {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    z-index: 1000;
    width: 50%;
    background-color: var(--color-background);
    border-radius: 10px;

    p {
        font-size: 1.8rem;
    }
    hr{
        width: 100%;
        margin: 10px 0;
    }
  }