.home{
    background-image: url('../../assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;

    & nav{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        color: var(--color-white);
        &> .logo{
            color: var(--color-white);
            font-size: 1.8rem;
        }
    }
}

.home-links{
    display: flex;
    justify-content: center;
    align-items: center;
    & li a{
        color: var(--color-white);    
        font-size: 1.8rem;
    }
    & > *{
        margin-left: 1rem;
        color: var(--color-white)
    }
}

.hero{
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    & .hero-buttons a{
        // color: #fff;
        width: 100%;
        display: flex;  
        justify-content: center;    
        font-size: 2.3rem;
        font-weight: 500;
    }
    & button{
        background: rgba($color: #1c1e36, $alpha: 0.38);
        color: var(--color-white);
        border: 1px solid var(--color-white);
        width: 100%;
        margin: 2rem 1rem;
        display: flex;        
    }

    & button:hover{
        background: rgba($color: var(--color-white), $alpha: 0.38);
        color: #1c1e36;
    }
}

.hero-text{
    width: 70%;
    // background-color: rgba($color: #1c1e36, $alpha: 0.65);
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 3rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    & > *{
        color: var(--color-white);
        margin-bottom: 2rem;
    }
    & > h2{
        display: block;
        font-size: 4rem;
    }
    & > p{
        display: block;
        font-size: 3rem;
    }
}

.hero-img{
    width: 50%;
}

@media screen and (max-width: 600px){
    .hero{
        flex-direction: column;
    }

    .hero-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .hero-img{
        width: 100%;
        &img{
            width: 100%;
        }
    }
}